.header{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
    width: 100ww;
    height: 790px;
    background-image: url(../image/background1.png);
}

.menu-header-wrraper{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.hexagon-wrraper{
    position: relative;
    margin-left: 200px;
    width: 100px;
    margin-right: auto;
}

.h-hexagon{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 31px;
    left: 13px;
}

.hexagon{
    margin-top: 19px;
}

.logo-text-wrraper{
    position: absolute;
    top: 28px;
    left: 50px;
}

.logo-text-1{
    font-family: 'Montserrat', sans-serif;
    font-Weight: 200;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo-text-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #18CFAB;
    text-decoration: none;
}

.header-menu-list{
    display: flex; 
    margin-top: 35px;
    margin-right: 200px;
}

.element-menu-list{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #FFFFFF99;  
    margin-left: 10px;
    margin-right: 10px;  
    font-weight: 700;
    font-size: 16px;
}

.element-menu-list:hover{
    color: #18CFAB;
    padding-bottom: 37px;
    border-bottom: solid #18CFAB 2px;
}

.wrraper-text-header{
    margin-top: 170px;
    line-height: 70px;
}

.first-line{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.first-line-blue{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #18CFAB;
    text-align: center;
}

.second-line{
    font-family: 'Montserrat', sans-serif;
    font-size: 78px;
    font-weight: 700;
    right: 70px;
    color:#FFFFFF;
    text-align: center;
}

.third-line{
    right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #D4D4D4;
    text-align: center;
}

.header-button-wrraper{
    text-align: center;
    margin-top: 50px;
}

.header-button-first{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background: #18CFAB;
    border-top: solid white 4px;
    margin-right: 10px;
}

.header-button-second{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background: #00CBF6;
    border-top: solid white 4px; 
    margin-left: 10px;
}

.box{
    margin-top: 5px;
    display: flex;
}

.first-box{
    width: 376px;
    height: 300px;
    background-color: #1C2A33;
}

.first-box-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #18CFAB;
    margin-top: 30px;
}

.first-box-img{
    margin-top: 80px;
    margin-left: 130px;
}

.second-box{
    width: 376px;
    height: 300px;
    background-color: #18CFAB;
}

.second-box-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 50px;
}

.second-box-img{
    margin-top: 80px;
    margin-left: 130px;
}

.third-box{
    width: 376px;
    height: 300px;
    background-color: #1C2A33;
}

.third-box-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #18CFAB;
    margin-top: 30px;
}

.third-box-img{
    margin-top: 80px;
    margin-left: 130px;
}

.four-box{
    width: 376px;
    height: 300px;
    background-color: #18CFAB;
}

.four-box-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 50px;
}

.four-box-img{
    margin-top: 80px;
    margin-left: 130px;
}

.logo-of-tabs{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}

.tabs-wrraper{
    margin-top: 80px;
    position: relative;
    padding-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.tabs-wrraper::before,
.tabs-wrraper::after{
    content: '';
    position: absolute;
    left: 0;
    width: 80px;
    height: 1px; 
    background-color: #18CFAB;
    border-radius: 20px;
}

.tabs-wrraper::before{
    top: 45px;
    left: 440px;
}

.tabs-wrraper::after{
    top: 43px;
    left: 430px;
}

.tabs{
    margin-top: 130px;
    display: flex;
}

.tabs-title{
    width: 200px;
    height: 40px;
    padding-top: 25px;
    text-align: center;
    font-weight: 400;
    font-size: 15.99px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8FCFE;
    border: 1.5px solid #EDEFEF;
}

.tabs-title.active::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #18CFAB;
    transform: rotate(45deg);
    bottom: -10px;
    left: 67px;
}


.tabs-title:hover{
    border: 1.5px solid #18CFAB;
}

.tabs-title.active{
    background-color:  #18CFAB;
    text-align: center;
    color: #FFFFFF;
    padding-top: 25px;
    font-weight: 400;
    font-size: 15.99px;
    font-family: 'Montserrat', sans-serif;
    border: 1.5px solid #18CFAB;
    position: relative;
}

.tabs-content{
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
}

.tabs-content div p {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13.64px;
    line-height: 24.37px;
    margin-left: 10px;
}

.tabs-content-active{
    display: flex;
}

.hidden{
    display: none;
}

.img-section{
    background-repeat: no-repeat;
    width: 100ww;
    height: 450px;
    background-image: url(../image/Layer\ 21\ 1.png);
}


.img-section-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    padding-top: 150px;
}

.img-section-paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #D8D8D8;
    padding-top: 30px;
}

.img-section-button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background: #18CFAB;
    border-top: solid white 4px;
}

.button-wrraper{
    text-align: center;
    margin-top: 80px;
}

.section-of-amazing-work{
    background-color: #E9EDEF;
}

.title-of-amazing-work{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #4E4E4E;
    padding-top: 70px;
}

.title-of-amazing-work::before,
.title-of-amazing-work::after{
    content: '';
    position: absolute;
    left: 0;
    width: 80px;
    height: 1px; 
    background-color: #18CFAB;
    border-radius: 20px;
}

.title-of-amazing-work::before{
    top: 135px;
    left: 640px;
}

.title-of-amazing-work::after{
    top: 133px;
    left: 630px;
}

.wrraper-button-of-amazing-work{
    display: flex;
    text-align: center;
    margin-top: 100px;
    margin-left: 350px;
    padding-bottom: 100px;
}

.button-of-amazing-work{
    color: #717171;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #E9EDEF;
    border: 1.5px solid #DADADA;
    padding: 30px;
}

.button-of-amazing-work:hover{
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
}

.button-of-amazing-work-active{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
}

.button-of-amazing-work.active{
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
}

.wrraper-img-of-amazing-work{
    margin-left: 110px;
    display: flex;
    flex-wrap: wrap;
}

.wrraper-load-of-amazing-work{
    text-align: center;
    padding: 70px;
}

.load-more-of-amazing-work{
    background-color: #18CFAB;
    color: #FFFFFF;
    border: none;
    width: 150px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    border: 1.5px solid #18CFAB;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
}

.load-more-of-amazing-work span{
    padding-left: 10px;
}

.wrraper-of-breaking-news{
    position: relative;
}

.title-of-breaking-news{
    font-weight: 400;
    font-size: 36px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.title-of-breaking-news::before,
.title-of-breaking-news::after{
    content: '';
    position: absolute;
    left: 0;
    width: 80px;
    height: 1px; 
    background-color: #18CFAB;
    border-radius: 20px;
}

.title-of-breaking-news::before{
    top: 55px;
    left: 640px;
}

.title-of-breaking-news::after{
    top: 53px;
    left: 630px;
}

.wrraper-of-box-for-news{
    display: flex;
    margin-top: 120px;
    flex-wrap: wrap;
    margin-left: 90px;
    gap: 40px;
    width: 1200px;
    margin-bottom: 160px;
}

.text-to-post{
    padding: 15px;
    font-size: 17.99px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
}

.comment{
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
}

.card-of-post{
    position: relative;
}

.card-of-post::after{
    display: flex;
    flex-wrap: wrap;
    content: "12 Feb";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #203E38;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 25px;
}

.card-of-post::after{
    top: 0px;
    right: 0px;
}

.card-of-post:hover::after{
    background-color: #18CFAB;
}

.card-of-post:hover .text-to-post {
    color: #18CFAB; 
}

.slider{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../image/Layer\ 333.png);
    width: 100ww;
    height: 850px;
    position: relative;
}

.title-of-slider{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding-top: 80px;
    position: relative;
}

.title-of-slider::before,
.title-of-slider::after{
    content: '';
    position: absolute;
    left: 0;
    width: 80px;
    height: 1px; 
    background-color: #18CFAB;
    border-radius: 20px;
}

.title-of-slider::before{
    top: 145px;
    left: 640px;
}

.title-of-slider::after{
    top: 143px;
    left: 630px;
}

.slider-content{
    position: absolute;
}

.commas{
    position: absolute;
    top: 200px;
    left: 650px;
}

.slider-content{
    padding-top: 170px;
}

.text-for-slider-content{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 300;
    font-size: 13px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #BBBBBB;
}

.name{
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    color: #18CFAB;
}

.profetion{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 300;
    font-size: 13px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #BBBBBB;
}

.img-for-slider-content{
    margin-top: 40px;
    margin-left: 595px;
    border: 10px solid rgba(24, 207, 171, 0.3);
    border-radius: 50%;
}

.wrraper-button-of-slider{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button-of-slider{
    border: 1px solid #BBBBBB;
    margin-top: 15px;
    height: 20px;
    width: 25px;
    color: #BBBBBB;
    text-align: center;
    padding-top: 4px;
}

.button-of-slider:hover{
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
    color: #FFFFFF;
}

.img-of-icon-slider{
    border: 5px solid rgba(24, 207, 171, 0.3);
    border-radius: 50%;
}

.icon-of-slider.active{
    padding-bottom: 20px;
}

.footer{
    background-color: #22353F;
    height: 100px;
}

.footer p{
    text-align: center;
    color: #AEAEAE;
    padding-top: 40px;
}

.footer p span{
    color: #18CFAB;
}

.slick-track{
    display: flex;
    min-width: 0;
}